/* reset style */
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* root elements */
html{
    font-size: 14.5px; 
}

:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #3f4fb5;
    --color-yellow: #ffd370;
    --color-pink: #f9d3d3;
    --color-red: #f65a3b;
    --color-green: #8bc7ae;
}

html{
    font-family: 'Noto Sans', sans-serif;
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

/* overall style */
h1{
    font-size: 3rem;
    margin-top: 75px;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
}

p, button{
    font-family: var(--font-body-button);
}

p{
    font-size: 1rem;
}

a{
    text-decoration: none;
}

.blue-text{
    color: var(--color-blue);
}

.wrapper {
    margin: 20px;
    padding: 0;
}

ul {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

img{
    width: 100%;
}

.white-bg{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px 10px;
}

.content {
    position: relative;
    min-height: 100vh;
    padding-bottom: 30px;
  }

/******************************* 
            BUTTON 
*******************************/
/* Libraries-Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* blue button */
.button-blue {
    /* align-items: center; */
    background-color: var(--color-blue);
    border: 4px solid var(--color-white);
    border-radius: 8px;
    box-shadow: -5px 5px var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s;
}

.button-blue:hover {
  background-color: var(--color-pink);
  color: var(--color-blue);
  font-weight: 600;
  box-shadow: -5px 5px var(--color-yellow);
  border: 4px solid var(--color-red);
  transition: 0.3s;
}

/* white button */
.button-white {
    background-color: var(--color-white);
    border: 4px solid var(--color-blue);
    border-radius: 8px;
    box-shadow: -5px 5px var(--color-blue);
    color: var(--color-blue);
    cursor: pointer;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s;
}
  
.button-white:hover {
background-color: var(--color-pink);
color: var(--color-blue);
font-weight: 600;
box-shadow: -5px 5px var(--color-yellow);
border: 4px solid var(--color-red);
transition: 0.3s;
}

.button-small{
font-size: .8rem;
}

.button-large{
font-size: 2rem;
}

/************************************** 
            FOOTER
**************************************/  
footer div:nth-child(2){
    display: flex;
}

footer .bi {
    font-size: 1.5rem;
}

footer p{
    margin: 5px 10px;
}

footer a{
    color: var(--color-green);
}

footer {
    padding: 5px 10px 50px 10px;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.85);
    position: fixed; 
    bottom: 0;
    width: 100%;
    height: 2.5rem
}

/************************************** 
            SKIP-LINKS
**************************************/  
.skip-links ul{
    list-style: none;
    position: relative;
  }
  
.skip-links a{
    position: absolute;
    top: -10em;
}
  
.skip-links a:focus{
    top: 0;
    background: var(--color-yellow);
    display: block;
    padding: 10px;
}

/************************************** 
            MOBILE TOP NAV 
**************************************/   
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    padding: 0 20px;
}

input[type='checkbox'] {
    display: none; 
}

.logo {
    max-width: 70px;
    height: auto;
}

header nav label {
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.5em;
    text-align: right;
}

header nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: flex;
    flex-direction: column;
}

input[type='checkbox']:checked + ul {
    display: flex; 
}

nav ul li {
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid var(--color-white);
}

header h2 {
    text-align: center;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.85);
    color: #FFF;
    height: 75px;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    width: 100%;
    padding: 5px;
}

.menu > li {
    display: flex;
    justify-content: center;
    background-color: var(--color-pink);
    border-radius: 8px;
}

.menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--color-blue);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: var(--color-pink);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

#menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
    border: 1px solid var(--color-white);
    height: 2.5em;
    padding: 0.5em;
}

.menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.menu a {
    color: var(--color-blue);
    text-decoration: none;
    font-size: 100%;
}

#menu-toggle:checked ~ .menu {
    display: block;
}

/************************************** 
            MOBILE TOP IMG 
**************************************/  
.home-cover-img {
    margin-top: 75px;
}

.cover-img-text{
    position: absolute;
    text-align: left;
    top: 77%;
    padding-left: 20px;
}

.home-welcome-text{
    margin: 20px auto;
    padding: 5px 0;
}

.home-welcome-text h2{
    padding-bottom: 15px;
}

/************************************** 
            MOBILE HOME
**************************************/ 
.home-my-portfolio-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.home-my-portfolio-header a{
    padding: 5px 10px;
}

.home-my-portfolio-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
}

.home-my-portfolio-img img{
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    width: 32%;
    height: 32%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.home-my-services .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-my-services a{
    margin: 20px 50px;
    padding: 5px 20px;
}

.home-my-services ul{
    padding: 20px 0px;
    margin: 0 10px;
    list-style-position: inside
}

.home-my-services li{
   font-weight: 700;
   line-height: 1rem;
   padding: 0px 30px;
   text-align: left;
   text-decoration: none;
}

/************************************** 
            MOBILE ABOUT ME
**************************************/
.about-me img{
    width: 70%;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}

.about-me h2{
    text-align: center;
}

.about-me h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-me .skill-list{
    padding-left: 20px;
}

.about-me .skills-specialisation ul{
    margin-bottom: 30px;
    line-height: 10px;
}

.about-me .skills-specialisation h2, .about-me .professional-background h2{
    margin-top: 10px;
    margin-bottom: 20px;
}

.about-me .professional-background h4{
    margin: auto 40px;
}

/************************************** 
            MOBILE CONTACT ME
**************************************/
.contact h1{
    text-align: center;
    margin-bottom: 20px;
}

.contact .contact-header-img{
    border-radius: 8px;
    width: 65%;
    display: block;
    margin: 10px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.contact .white-bg{
    margin: 0 40px;
    padding: 20px 30px;
}

.contact-form input[type="text"], 
.contact-form textarea {
    border: 1px solid var(--color-green);
    background-color: var(--color-white);
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 8px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form input::placeholder, 
.contact-form textarea::placeholder {
    color: var(--color-yellow);
    opacity: 1;
}

.form-submit{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.contact-form input[type="submit"] {
    padding: 5px 15px;
    margin-right: 0px;
}

.connect-with-me{
    text-align: center;
}

.connect-with-me p{
    margin-top: 10px;
}

.connect-with-me{
    margin-bottom: 40px;
}

.connect-with-me img{
    width: 20px;
}

.connect-with-me a{
    color: var(--color-blue);
}

.social-media p {
    font-size: 1.5rem;
}

.bi {
    padding-right: 0.5rem;
}

/************************************** 
            MOBILE PORTFOLIO
**************************************/
.blue-bg-title{
    color: var(--color-pink);
    margin-top: 40px;
}

.blue-bg-title span{
    background-color: var(--color-blue);
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 1.2rem;
}

.portfolio img{
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    /* object-position: 50% 50%; */
    margin-top: 20px;
    display: block;
}

.thumbnail{
    display: inline-block;
}

.portfolio .thumbnail a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    z-index: 0;
}

.portfolio .thumbnail a .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    line-height: 1;
    font-size: 5rem;
    color: var(--color-blue);
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px; 
    border-radius: 50%;
    cursor: pointer;
  }

.portfolio .thumbnail a .play-button:hover {
    color: var(--color-red);
    transition: 0.3s;
}

.thumbnail h5 {
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 0px;
    padding: 10px 20px;
    border-radius: 8px;
}

.thumbnail .blue-text > a {
    font-size: 1.2rem;
    color: var(--color-blue);
    text-decoration: none;
}

.thumbnail .blue-text > a:hover {
    color: var(--color-red);
}

/************************************** 
            MOBILE SERVICES
**************************************/
.services h1{
    text-align: center;
    margin-bottom: 30px;
}

.services article{
    border: 3px solid var(--color-pink);
    background-color: rgba(255, 255, 255, 0.85);
    margin-bottom: 10px;
    padding: 10px;
}

.services p{
    margin-bottom: 10px;
}

.services{
    padding-bottom: 20px;
}

/************************************** 
************************************** 
            TABLE STYLE
************************************** 
**************************************/
@media (min-width: 768px) {
    /* font size */
    h1 {
        font-size: 2.986rem;
    }
    
    h2 {
        font-size: 2.488rem;
    }
    
    h3 {
        font-size: 1.728rem;
    }

/************************************** 
            TABLE DROPDOWN
**************************************/
    #menu-toggle:checked ~ .menu li {
        height: 3em;
        padding: 0.5em;
    }

    .menu a {
        font-size: 1.5rem;
    }
/************************************** 
            TABLE HOME
**************************************/
    .home-my-portfolio-img img{
        width: 18%;
        height: 18%;
    }

    .home-treasury-technology {
        display: none;
    }

/************************************** 
            TABLE ABOUT ME
**************************************/
    .about-me-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center; 
        margin: 0 auto; 
        padding: 20px;
    }

    .about-me-info div:nth-child(2) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .about-me img{
        width: 100%;
        border-radius: 8px;
        margin: 20px auto;
    }

    .skillsbackground {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: start;
        margin: 0 auto;
    }
    

    .skills-specialisation h2{
        margin: 0 auto;
    }


    .about-me .skill-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 0 auto;
        padding: 0;
        
    }

    .skill-list li{
        line-height: 1rem;
    }

    .professional-background h4{
        padding: 20px;
    }

    /************************************** 
            TABLE CONTACT
    **************************************/
    .contact .contact-header-img{
        width: 40%;
    }

    .contact .white-bg{
        margin: 0 120px;
    }

    .contact .contact-form {
        width: 70%;
        margin: 0 auto;    
    }

    .social-media{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 150px;
    }
    
    /************************************** 
            TABLE PORTFOLIO
    **************************************/
    .portfolio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin: 0 20px;
    }

    .blue-bg-title span{
        padding: 10px 30px;
    }

    .thumbnail h5{
        padding: 10px 30px;
    }

    /************************************** 
                TABLET SERVICES
    **************************************/
    .services article{
        margin: 20px 50px;
    }
}
    /************************************** 
    ************************************** 
            DESKTOP STYLE
    ************************************** 
    **************************************/
@media (min-width: 1100px) {
    /* font size */
    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 2.8rem;
    }
    
    h3 {
        font-size: 2rem;
    }

    /************************************** 
            DESKTOP HOME
    **************************************/
    .welcome section {
        margin-top: 150px;
        padding: 0px 20px;
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 20px;
        align-items: center;
    }

    .home-welcome-text {
        margin-right: 20px;
    }

    .home-portfolio-services{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .home-treasury-technology{
        display: unset;
    }

    .home-my-portfolio-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .home-my-portfolio-img img {
        width: 32%; 
        height: 32%;
        margin-bottom: 10px;
    }

    /************************************** 
            DESKTOP ABOUT
    **************************************/
    .about-me h1{
        margin-top: 100px;
    }

    .skills-background{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .about-me .skills-specialisation{
        margin: 0 10px;
        padding: 10px;
    }

    /************************************** 
            DESKTOP CONTACT
    **************************************/
    .contact .wrapper{
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
    }

    .contact .contact-header-img {
        width: 60%;
    }

    .contact .white-bg {
        margin: 0 40px;
    }

    .contact .contact-form {
        width: 80%;
    }

    .social-media {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 100px;
    }

    /************************************** 
            DESKTOP PORTFOLIO
    **************************************/
    .portfolio {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        margin: 0 20px;
    }

    .blue-bg-title span {
        padding: 10px 2px;
        font-size: 1rem;
    }

    .thumbnail h5{
        padding: 10px 5px;
        margin-top: 10px;
    }

    .thumbnail h5, .thumbnail .blue-text > a {
        font-size: 0.9rem;
    }

    /************************************** 
            DESKTOP SERVICES
    **************************************/
    .services .wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: flex-start;
    }

    .services article {
        margin: 10px 10px;
    }
}