/* reset style */
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* root elements */
html{
    font-size: 14.5px; 
}

:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #3f4fb5;
    --color-yellow: #ffd370;
    --color-pink: #f9d3d3;
    --color-red: #f65a3b;
    --color-green: #8bc7ae;
}

html{
    background-color: blanchedalmond;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

/* overall style */
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
}

p, button{
    font-family: var(--font-body-button);
}

p{
    font-size: 1rem;
}

.blue-text{
    color: var(--color-blue);
}

.wrapper {
    margin: 20px;
    padding: 0;
}

ul {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

img{
    width: 100%;
}

.white-bg{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px 0px;
}
/******************************* 
            BUTTON 
*******************************/
/* blue button */
.button-blue {
  /* align-items: center; */
  background-color: var(--color-blue);
  border: 4px solid var(--color-white);
  border-radius: 8px;
  box-shadow: -5px 5px var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.3s;
}

.button-blue:hover {
  background-color: var(--color-pink);
  color: var(--color-blue);
  /* outline: 0; */
  font-weight: 600;
  box-shadow: -5px 5px var(--color-yellow);
  border: 4px solid var(--color-red);
  transition: 0.3s;
}

/* white button */
.button-white {
    /* align-items: center; */
    background-color: var(--color-white);
    border: 4px solid var(--color-blue);
    border-radius: 8px;
    box-shadow: -5px 5px var(--color-blue);
    color: var(--color-blue);
    cursor: pointer;
    /* padding: 10px 25px; */
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .button-white:hover {
    background-color: var(--color-pink);
    color: var(--color-blue);
    /* outline: 0; */
    font-weight: 600;
    box-shadow: -5px 5px var(--color-yellow);
    border: 4px solid var(--color-red);
    transition: 0.3s;
  }

  .button-small{
    /* padding: 5px 10px; */
    font-size: .8rem;
  }

  .button-large{
    /* padding: 10px 25px; */
    font-size: 2rem;
  }

/************************************** 
            MOBILE TOP IMG 
**************************************/  
.home-cover-img img{
    height: 25%;
    object-fit: cover;
    object-position: 5% 0%;
}

.cover-img-text{
    position: absolute;
    text-align: left;
    top: 77%;
    padding-left: 20px;
}

.cover-img-text .title-large{
    font-size: 2.5rem;
}

.cover-img-text .large{
    font-size: 2.6rem;
}

.home-welcome-text{
    background-color: rgba(255, 255, 255, 0.85);
    margin: 20px auto;
    padding: 5px 0;
}

.home-welcome-text h2{
    padding-bottom: 15px;
    font-size: 2rem;
}

/************************************** 
            MOBILE HOME
**************************************/ 
.home-my-portfolio-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.home-my-portfolio-header h2{
    font-size: 2.5rem;
}

.home-my-portfolio-header a{
    padding: 5px 10px;
}

.home-my-portfolio-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.home-my-portfolio-img img{
    object-fit: cover;
    border-radius: 8px;
    width: 170px;
    height: 170px;
}

.home-my-services .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-my-services a{
    margin: 20px 50px;
    padding: 5px 20px;
}

.home-my-services ul{
    /* background-color: rgba(255, 255, 255, 0.85); */
    padding: 20px 0px;
    margin: 0 30px;
}

.home-my-services li{
   font-weight: 700;
   line-height: 1rem;
   padding: 0px 30px;
   text-align: left;
}

/************************************** 
            MOBILE ABOUT ME
**************************************/
.about-me img{
    width: 70%;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}

.about-me h2{
    text-align: center;
}

.about-me h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-me .skills-specialisation ul{
    margin-bottom: 30px;
    line-height: 10px;
}

.about-me .skills-specialisation h2{
    margin-top: 40px;
}

.about-me .professional-background h2{
    margin-bottom: 10px;
}

.about-me .professional-background h4{
    margin: auto 40px;
}

/************************************** 
            MOBILE CONTACT ME
**************************************/
.contact h1{
    text-align: center;
    margin-bottom: 20px;
}

.contact .contact-header-img{
    border-radius: 8px;
    width: 65%;
    display: block;
    margin: 10px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.contact .white-bg{
    margin: 0 40px;
    padding: 20px 30px;
}

.contact-form input[type="text"], 
.contact-form textarea {
    border: 1px solid var(--color-green);
    background-color: var(--color-white);
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 8px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form input::placeholder, 
.contact-form textarea::placeholder {
    color: var(--color-yellow);
    opacity: 1;
}

.form-submit{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.contact-form input[type="submit"] {
    padding: 5px 15px;
    margin-right: 0px;
}

.connect-with-me{
    text-align: center;
}

.connect-with-me p{
    margin-top: 10px;
}

.connect-with-me{
    margin-bottom: 40px;
}

.connect-with-me img{
    width: 20px;
}

/************************************** 
            MOBILE PORTFOLIO
**************************************/
.blue-bg-title{
    color: var(--color-pink);
    margin-top: 40px;
}

.blue-bg-title span{
    background-color: var(--color-blue);
    padding: 10px 80px;
    border-radius: 8px;
    font-size: 1.2rem;
}

.home-my-portfolio-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.portfolio img{
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-height: 100%;
    object-position: 50% 50%;
    margin-top: 20px;
    display: block;
}

.thumbnail{
    position: relative;
    display: inline-block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem; 
    color: white;
    /* background-color: rgba(0, 45, 246, 0.5); */
    padding: 10px 20px;
    /* border-radius: 50%; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    /* background-color: rgba(0, 0, 0, 0.8);  */
}